VITE_SUPABASE_URL=xltzbyqumbqjzwogxdzi
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhsdHpieXF1bWJxanp3b2d4ZHppIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA3OTU4MTYsImV4cCI6MjA5NjM3MTgxNn0.1Ykm84LmZ6mHvs9N0mRBbB0cTLNUvXlMReUJTtSJoB4
